Source: jerasure
Section: libs
Priority: optional
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Uploaders:
 Thomas Goirand <zigo@debian.org>,
Build-Depends:
 debhelper-compat (= 10),
 gf-complete-tools,
 libgf-complete-dev,
Standards-Version: 4.1.0
Homepage: http://jerasure.org/
Vcs-Git: https://salsa.debian.org/openstack-team/third-party/jerasure.git
Vcs-Browser: https://salsa.debian.org/openstack-team/third-party/jerasure

Package: libjerasure-dev
Section: libdevel
Architecture: any
Depends:
 libgf-complete-dev,
 libjerasure2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Description: forward error correction erasure channel library - development files
 In information theory, an erasure code is a forward error correction (FEC)
 code for the binary erasure channel, which transforms a message of symbols
 into a longer message (code word) with symbols such that the original
 message can be recovered from a subset of the symbols.
 .
 Jerasure is a shared library that been designed to be modular, fast and
 flexible. It is used in storage systems such as Swift and Ceph to add fault
 tolerance.
 .
 This package contains the development files needed to build against the shared
 library.

Package: libjerasure2
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Description: forward error correction erasure channel library - shared library
 In information theory, an erasure code is a forward error correction (FEC)
 code for the binary erasure channel, which transforms a message of symbols
 into a longer message (code word) with symbols such that the original
 message can be recovered from a subset of the symbols.
 .
 Jerasure is a shared library that been designed to be modular, fast and
 flexible. It is used in storage systems such as Swift and Ceph to add fault
 tolerance.
 .
 This package contains the shared library.
